main.crud-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;

  & h2 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: var(--primary);
    margin-bottom: 1rem;
  }

  & form {
    display: flex;
    justify-content: center;
    width: 100%;

    & fieldset {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      border-radius: 1rem;
      padding: 2rem 3rem;
      width: 100%;
      max-width: 50dvw;
      min-width: 40dvw;
      border: 1px solid var(--text);
      background-color: var(--background);
      color: var(--text);

      & legend {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1rem;
        color: var(--primary);
      }

      & label {
        display: flex;
        flex-direction: column;
        font-size: 0.95rem;
        color: var(--text);

        & input,
        & select,
        & textarea {
          border-radius: 1rem;
          border: 0.5px solid var(--text);
          padding: 0.5rem;
          font-size: 1rem;
          background-color: var(--background);
          color: var(--text);
          width: 100%;
          box-sizing: border-box;
          transition: border-color 0.3s, background-color 0.3s;

          &:focus {
            outline: none;
            border-color: var(--primary);
          }
        }

        & textarea {
          min-height: 6rem;
          resize: vertical;
        }
      }

      .button-select {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;

        & button[type="submit"] {
          align-self: center;
          padding: 0.75rem 1.5rem;
          background-color: var(--primary);
          color: var(--background);
          border: none;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: var(--accent);
          }

          &:active {
            background-color: #0d47a1;
          }

          &:focus {
            outline: 0.1875rem solid #64b5f6;
            outline-offset: 0.125rem;
          }
        }
      }
    }
  }

  & .crud-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 900px;
    margin-top: 2rem;
  }
}

@media (max-width: 700px) {
  main form fieldset {
    padding: 1.5rem 2rem;
    max-width: 90%;
  }

  main form fieldset input,
  main form fieldset select,
  main form fieldset textarea {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  main .crud-container {
    gap: 1.5rem;
  }
}
